:root {
  --vermelho: #E50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--preto);
  font-family: 'Arial', Times, serif;
  color: #fff;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  
}

header .netflix-logo {
  color: var(--vermelho);
  font-size: 40px;
  margin-left: 20px;
}

header nav a {
  text-decoration: none;
  color: #AAA;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

/* Main film */
.main-film {
  font-size: 17px;
  background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(./images/suits.jpg);

  height: 400px;
  background-size: cover;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container{
  margin-left: 30px;
}

.description {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 17px;
  width: 50%;
}

.main-film  .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button {
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;
  padding: 15px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  transition: .3s ease all;
}

.button i {
  margin-right: 10px;
}

.button:hover {
  background-color: white;
  color: black;
}

.box-film {
  height: 100%;
  width: 100%;
  display: block;
}

.carousel-films {
  margin-top: 5px;
}
